#.htaccess
*.DS_Store
*.db
*codekit-config.json
.sass-cache/
/cache/
/cgi-bin/
/cli/
/images/
/joomla.xml
/logs/
/media/com_djimageslider/cache/
/media/k2/
/tmp/
/web.config.txt
configuration.php
ehthumbs.db
LICENSE.txt
README.txt
Thumbs.db
/nbproject/private/