/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


// sprites
$filter-pink-satin-repeat: repeat-x;
$filter-bg-repeat: repeat-x;
$filter-pink-repeat: repeat-x;
$menu-hover-repeat: repeat-x;
$menu-bg-repeat: repeat-x;
@import "sprites/filter/*.png";
@import "sprites/slider/*.png";
@import "sprites/icons/*.png";
@import "sprites/misc/*.png";
@import "sprites/menu/*.png";
@include all-filter-sprites(true);
@include all-slider-sprites(true);
@include all-icons-sprites(true);
@include all-misc-sprites(true);
@include all-menu-sprites(true);

// mixins
@import 'bourbon';
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "frontend/mixins";

// misc
@import "misc/990fluid";
@import "misc/accordion";
@import "misc/k2reset";
@import "misc/mainmenu";
@import "misc/ruble/";
// @import "misc/sticky";

// main
@import "helpers/chronoform";
@import "helpers/mixins";
@import "helpers/pagination";
@import "frontend/com_k2";
@import "frontend/com_uvelir_caddy";
@import "frontend/com_uvelir_category";
@import "frontend/com_uvelir_order";
@import "frontend/com_uvelir_orders";
@import "frontend/com_uvelir_product";
@import "frontend/com_uvelir_products";
@import "frontend/com_uvelir_tabs";
@import "frontend/com_uvelir_userfrom";
@import "frontend/contacts";
@import "frontend/mod_breadcrumbs";
@import "frontend/mod_caddy";
@import "frontend/mod_dj_slider";
@import "frontend/mod_usearch_uvelir";
@import "frontend/system-message";
@import "frontend/toTop";
@import "frontend/jcomments";

input[type="submit"],
input[type="button"],
button{
	@include pressed();
}
.select1{
	background: #FFF;
	position: relative;
	@include misc-sprite(select-bg);
	&::before{
		@include misc-sprite(select-lt);
		position: absolute;
		content:'';
		width: 5px;
		height: 23px;
		top: 0px;
		left: -5px;
	}
	&::after{
		@include misc-sprite(select-gt);
		position: absolute;
		content:'';
		width: 5px;
		height: 23px;
		top: 0px;
		right: -5px;
	}
}
.strips{
	// height: 100%;
	// width: 2560px;
	// position: absolute;
	// left: 50%;
	// margin-left: -1280px;
	// top: 0%;
}
body{
	min-width: 1082px !important;
	background: #f7f2e1 url(../images/strips.png) no-repeat;
	color: #494949;
	background-position: 50% -55px;
	margin: 0;
	&.glavnaya{
		background-position: 50% 0px;
	}
}
#rt-top-surround{
	#rt-top{
		@include menu-sprite(bg);
		background-repeat: repeat-x;
		min-width: 990px;
		width: 100%;
		z-index: 100;
		.rt-block{
			margin: 0;
			padding: 0;
		}
		.main.menu{
			// @include menu-sprite(bg);
			// background-repeat: repeat-x;
			margin-bottom: 20px;
			margin-top: 0;
			// min-width: 750px;
			// width: 73.2%;
			li{
				a{
					color: #f6df98;
					font-size: 13px;
					font-weight:normal;
					margin: 0 4px;
					padding: 0 10px;
					&:hover{
						text-decoration: none;
						color: #fff;
					}
					&:before{
						content: none;
					}
					@include respond-to(handhelds) {
						font-size: 11px;
						padding: 0 4px;
					}
				}
				&.separator{
					@include menu-sprite(separator);
					display: block;
					height: 50px;
					margin: 0 auto;
					width: 3px;
				}
				&.parent{
					ul{
						background: #262626;
						margin-left: -14px;
						li{
							a{
								border-bottom: 1px dotted #f6df98;
							}
							&:not(:last-child){
							}
						}
					}
				}
			}
			& > li > a:hover{
				// @include border-radius(4px);
				@include pink-hover;
			}
		}
	}
	#rt-header{
		.logo-block{
			margin-bottom: 22px;
		}
		.top-banner {
			float: left;
			margin: 0;
			padding: 0;
				@include respond-to(handhelds) { margin: 0;}
				@include respond-to(medium-screens) { margin: 0 1%; }
				@include screen(1280px, 1365px) { margin: 0 1%;}
				@include screen(1366px, 1439px) { margin: 0 3%;}
				@include screen(1440px, 1499px) { margin: 0 5%;}
				@include respond-to(wide-screens) { margin: 0 8%; }
				img {
					@include respond-to(handhelds) { width: 260px; margin-top: 12px; }
					max-width: 400px;
				}
		}
		.workphone{
			.icons-clock,
			.icons-phone{
				float: left;
			}
			.icons-clock{
				margin: 13px 10px 0 0;
			}
			.icons-phone{
				margin: 7px 10px 0 0;
			}
			.left,
			.right{
				// width: 192px;
				width: 210px;
			}
			.left{
				.gold{
					font-size: 12px;
				}
				.black{
					font-size: 22px;
				}
			}
			.right{
				.gold{
					font-size: 11px;
				}
				.black{
					font-size: 14px;
				}
			}
			.gold{
				display: block;
				color: #c5b07d;
			}
			.black{
				color: #000;
			}
		}
	}
}
#rt-showcase{
	.rt-block{
		padding-top: 0;
	}
}
#rt-transition{
	.rt-grid-3.rt-pull-9{
		margin-right: -270px;
		max-width: 270px;
		@include respond-to(handhelds) { left: -75%;}
		@include respond-to(medium-screens) { left: -78%; }
		@include screen(1280px, 1499px) { left: -80%; }
		@include respond-to(wide-screens) { left: -82%; }
	}
	.rt-grid-9.rt-push-3{
		left: 270px;
		@include respond-to(handhelds) { width: 75%;}
		@include respond-to(medium-screens) { width: 78%; }
		@include screen(1280px, 1499px) { width: 80%; }
		@include respond-to(wide-screens) { width: 82%; }
	}
	#rt-content-top{
		position: absolute;
		// top: -35px;
		top: -30px;
		left: 0;
		width: 100%;
	}
	#rt-sidebar-a{
		.rt-block{
			margin-bottom: 0;
			padding-bottom: 0;
		}
		ul.accordion{
			li{
				h4{
					@extend .pink-hover;
					.icon.trigger{
						width: 30px;
						height: 34px;
						position: absolute;
						top: -6px;
						left: 0px;
					}
					.link{
						margin-left: 30px;
					}
					a{
						@include inline-block;
						&:before{
							width: 0;
							padding: 0;
							margin: 0;
						}
					}
				}
				.sub{
					ul{
						// margin-left: 16px;
						margin: 0;
						li{
							margin-left: 13px;
							&.separator{
								margin: 6px 0px;
								border-bottom: 1px solid #e4d8be;
							}
							@extend .pink-hover;
						}
					}
				}
			}
		}
		@extend .bullet-menu;
		.menu{
			a{
				font-size: 12px;
				&:before{
					margin-right: 27px;
				}
			}
			li{
				&.separator{
					margin: 6px 0px;
					border-bottom: 1px solid #e4d8be;
				}
				&:before{
					margin: 5px 0 0 10px;
				}
			}
		}
	}
}
#rt-bottom{
	.rt-container{
		border-bottom: 3px solid #e4d8be;
		margin-bottom: 25px;
		// padding-bottom: 14px;
		text-align: justify;
		&:after{
			width: 100%;
			height: 0px;
			visibility: hidden;
			overflow: hidden;
			content: ' ';
			display: inline-block;
		}
		.rt-grid-3,
		.rt-grid-2{
			@include inline-block;
			float: none;
			vertical-align: top;
			width: auto;
			// width: initial;
		}
		.clear{
			display: none;
		}
		h2{
			color: #191919;
			font-size: 14px;
			margin-bottom: 8px;
			padding: 0;
			text-transform: uppercase;
			font-weight: bold;
		}
		@extend .bullet-menu;
		.menu{
			a{
				font-size: 11.03px;
			}
		}
	}
}
#rt-footer-surround{
	#rt-footer{
		color: #494949;
		font-size: 12px;
		padding-bottom: 36px;
		p{
			margin-bottom: 6px;
		}
		ul{
			list-style: none;
			list-style-type: none;
			margin: 10px 0px;
			li{
				float: left;
				margin-right: 7px;
			}
		}
		span{
			color: #c5b07d;
		}
		.phone{
			font-size: 22px;
		}
		.social a{
			@include pressed();
		}
		.payment a{
			@include pressed();
			@include shadow-box();
			display: block;
		}
		.payment .dummy a{
			@include no-pressed();
			@include no-shadow();
			cursor: default;
		}
	}
	#rt-copyright{
		border: none;
		@include box-shadow(none);
	}
}
.homepage{
	#rt-header{
		.workphone{
			.left,
			.right{
				margin-bottom: 6px;
			}
			.right{
				.black{
					text-transform: lowercase;
				}
			}
		}
	}
}
.page{
	.logo-block{
		float: left;
	}
	#rt-header{
		.workphone{
			float: right;
			.left,
			.right{
				float: left;
			}
		}
	}
}
#k2Container h2.itemTitle,
#rt-mainbody h2,
.module-title h2{
	font-size: 20px;
	line-height: 26px;
	padding: 0;
}
