html{
	min-width: 1040px;
}
body {
  padding-left: 0;
  padding-right: 0;
  /* Grid Layout */

}

body #rt-page-surround {
  overflow: visible;
}
body .rt-container {
  // width: 92%;
  // width: 96%;
  width: 100%;
  // min-width: 990px;
  min-width: 1040px;
  max-width: 1600px;
  overflow: hidden;
}


body .rt-container .rt-grid-1 {
	width:8.333%;
}

body .rt-container .rt-grid-2 {
	width:16.667%;
}

body .rt-container .rt-grid-3 {
	width:25.0%;
}

body .rt-container .rt-grid-4 {
	width:33.333%;
}

body .rt-container .rt-grid-5 {
	width:41.667%;
}

body .rt-container .rt-grid-6 {
	width:50.0%;
}

body .rt-container .rt-grid-7 {
	width:58.333%;
}

body .rt-container .rt-grid-8 {
	width:66.667%;
}

body .rt-container .rt-grid-9 {
	width:75.0%;
}

body .rt-container .rt-grid-10 {
	width:83.333%;
}

body .rt-container .rt-grid-11 {
	width:91.667%;
}

body .rt-container .rt-grid-12 {
	// width:98.0%;
	width:100.0%;
}



/* rt-prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


body .rt-container .rt-prefix-1 {
	padding-left:8.333%;
}

body .rt-container .rt-prefix-2 {
	padding-left:16.667%;
}

body .rt-container .rt-prefix-3 {
	padding-left:25.0%;
}

body .rt-container .rt-prefix-4 {
	padding-left:33.333%;
}

body .rt-container .rt-prefix-5 {
	padding-left:41.667%;
}

body .rt-container .rt-prefix-6 {
	padding-left:50.0%;
}

body .rt-container .rt-prefix-7 {
	padding-left:58.333%;
}

body .rt-container .rt-prefix-8 {
	padding-left:66.667%;
}

body .rt-container .rt-prefix-9 {
	padding-left:75.0%;
}

body .rt-container .rt-prefix-10 {
	padding-left:83.333%;
}

body .rt-container .rt-prefix-11 {
	padding-left:91.667%;
}


/* rt-push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


body .rt-container .rt-push-1 {
	left:8.333%;
}

body .rt-container .rt-push-2 {
	left:16.667%;
}

body .rt-container .rt-push-3 {
	left:25.0%;
}

body .rt-container .rt-push-4 {
	left:33.333%;
}

body .rt-container .rt-push-5 {
	left:41.667%;
}

body .rt-container .rt-push-6 {
	left:50.0%;
}

body .rt-container .rt-push-7 {
	left:58.333%;
}

body .rt-container .rt-push-8 {
	left:66.667%;
}

body .rt-container .rt-push-9 {
	left:75.0%;
}

body .rt-container .rt-push-10 {
	left:83.333%;
}

body .rt-container .rt-push-11 {
	left:91.667%;
}



/* rt-pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


body .rt-container .rt-pull-1 {
	left:-8.333%;
}

body .rt-container .rt-pull-2 {
	left:-16.667%;
}

body .rt-container .rt-pull-3 {
	left:-25.0%;
}

body .rt-container .rt-pull-4 {
	left:-33.333%;
}

body .rt-container .rt-pull-5 {
	left:-41.667%;
}

body .rt-container .rt-pull-6 {
	left:-50.0%;
}

body .rt-container .rt-pull-7 {
	left:-58.333%;
}

body .rt-container .rt-pull-8 {
	left:-66.667%;
}

body .rt-container .rt-pull-9 {
	left:-75.0%;
}

body .rt-container .rt-pull-10 {
	left:-83.333%;
}

body .rt-container .rt-pull-11 {
	left:-91.667%;
}

body .rt-container [class*="rt-grid"] {
  display: inline;
  float: left;
}
.rt-menu-mobile {
  display: none !important;
}